{% extends "base_generic.html" %}

{% block content %}
<h1>Tourist Home</h1>

  <p>Welcome to <em>Tourist</em></p>

<h2>Dynamic content</h2>

  <p>The Tourist has the following record counts:</p>
  <ul>
    <li><strong>Clients:</strong> {{ num_clients }}</li>
    <li><strong>Seasons:</strong> {{ num_seasons }}</li>
    <li><strong>Seasons available:</strong> {{ num_seasons_available }}</li>
    <li><strong>Tours:</strong> {{ num_tours }}</li>
    <li><strong>Trips:</strong> {{ num_trips }}</li>
  </ul>

{% endblock %}